/** COLORS **/
.cgray { color: gray }
.clgray { color: #BBB }
.cred { color: #D12F19 }
.cgreen { color: #4a2 }
.cblue { color: #29A }
.cblack { color: #111 }
.cdark { color: #444 }
.camber { color: #ffc000 }
.cwhite { color: #fff!important }
.bgred { background: #F2DEDE!important }

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.flash-container {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
    height: 42px;
    margin-bottom: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    display:none;
}

.dropdown-menu > li > a {
  text-shadow: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #29b;
  color: #FFF
}

.dropdown-toggle {
    &.btn {
        background-color: #FFF;
        background-image: none;
        border: 1px solid #CCC;
        border-radius: 4px;
        color: #444;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        text-align: center;
        text-shadow: none;
        vertical-align: middle;
        margin-bottom: 0;
        padding: 2px 10px;
    }
}

.dropdown-menu {
    li {
        a {
            font-size: 12px;
            clear: both;
            color: #333;
            display: block;
            font-weight: normal;
            line-height: 1.42857;
            padding: 3px 20px;
        }
    }
}

.nav-small > li > a {
    padding: 3px 5px;
    font-size: 12px;
}

.navless-container {
    margin-top: 20px;
}

.prepend-top-10 { margin-top:10px }
.prepend-top-20 { margin-top:20px }
.prepend-left-10 { margin-left:10px }
.prepend-left-20 { margin-left:20px }
.append-right-10 { margin-right:10px }
.append-right-20 { margin-right:20px }
.append-bottom-10 { margin-bottom:10px }
.append-bottom-15 { margin-bottom:15px }
.append-bottom-20 { margin-bottom:20px }
.inline { display: inline-block }

.underlined-link { text-decoration: underline; }
.hint { font-style: italic; color: #999; }
.light { color: #888 }


// Labels
.label {
  padding: 2px 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;

  &.label-gray {
    background-color: #eee;
    color: #999;
    text-shadow: none;
  }

  &.label-inverse {
    background-color: #333333;
  }
}

