<!DOCTYPE html>
<html lang="en">
    <body>
        <h1 style="background: #EEE; border-bottom: 1px solid #DDD; color: #474D57; font: normal 20px Helvetica, Arial, sans-serif; margin: 0; padding: 5px 10px; line-height: 32px; font-size: 16px;">
        {{base_url}}
        |
        <a href="{{ url('trainings') }}" style="color: #29B; text-decoration: none">Trainings</a>
        </h1>
        <table align="left" border="0" cellpadding="0" cellspacing="0" style="padding: 10px 0;" width="100%">
            <tr>
                <td align="left" style="margin: 0; padding: 10px;">
                    <p>Your training program has been deleted: {{title}}</p>
                    <p>
                        <a href="{{ url('trainings') }}">Trainings</a>
                    </p>
                    <br>
                </td>
            </tr>
            <tr>
                <td align="left" style="margin: 0; padding: 10px;">
                    <p style="font-size:small;color:#777">
                        You're receiving this notification because you created this training program.
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
