<!DOCTYPE html>
<html lang="en">
    {% set title = 'Profile' %}
    {% include 'layouts/_head.html.twig' %}
    <body>
        {% include 'layouts/_head_panel.html.twig' %}
        <div class="navbar navbar-default navbar-static-top main-nav">
            <div class="container">
                {% include 'layouts/nav/_profile.html.twig' %}
            </div>
        </div>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
