{% set active_page = active_page|default('home') %}
<ul class="nav navbar-tabs nav-justified">
    <li class="col-md-3{% if 'home' == active_page %} active{% endif %}">
        <a title="Home" href="{{ path('home') }}"><i class="fa fa-lg fa-home"></i></a>
    </li>
    <li class="{% if 'user' == active_page %} active{% endif %}">
        <a href="{{ path('users') }}">Users</a>
    </li>
    <li class="{% if 'groups' == active_page %} active{% endif %}">
        <a href="{{ path('groups') }}">Training groups</a>
    </li>
    <li class="{% if 'rooms' == active_page %} active{% endif %}">
        <a href="{{ path('rooms') }}">Rooms</a>
    </li>
</ul>
